{% extends 'base.html' %}

{% load staticfiles %}

						{% block content %}
						
							<div class="row-fluid">
								<div class="span12 module">
									<div class="outstanding-header">
										<h2 class="outstanding-title">Coleções</h2>
									</div>
									<ul>
										{% for especie in especies %}
											<li>
												<div class="span4 module">
													<p>{{ especie.nome }}</p>
												</div>
											</li>
										{% endfor %}

										{% for imagem in imagens %}
											<li>
												<div class="span4 module">
													<img src="{{ imagem.caminho }}" alt="Imagem">
												</div>
											</li>
										{% endfor %}
									</ul>
									
			    				</div>
							</div>
							<!-- fim .row-fluid -->
						
						{% endblock %}