{% extends 'base.html' %}

{% load staticfiles %}

						{% block content %}
						
							<div class="row-fluid">
								<div class="span12 module">
									<div class="outstanding-header">
										<h2 class="outstanding-title">{{ especie.nome }}</h2>
									</div>
									<div class="row-fluid">
										{% for acesso in acessos %}
											<div class="span4 module">
												<img src="{{ acesso.imagem.caminho.url }}" alt="{{ acesso.nome }}">
												<h2>
													<strong>{{ acesso.nome }}</strong>
												</h2>
												<p class="description">Breve descrição.</p>
											</div>
										{% empty %}
											<p>Não foram encontrados acessos dessa espécie.</p>
										{% endfor %}
									</div class="row-fluid">
			    				</div>
							</div>
							<!-- fim .row-fluid -->
						
						{% endblock %}