{% extends 'base.html' %}

{% load staticfiles %}

						{% block content %}

							<div class="row-fluid module">							
    							
    							<section class="module-section">
	    							<div class="span12">
	    								<img src="{% static 'img/logo.png' %}" width="100%">
	    							</div>
	    							<!-- fim .span8 -->
    							</section>
							</div>
							<!-- fim .row-fluid -->
							<div class="row-fluid">
								<div class="span8 module">
									<div class="outstanding-header">
										<h2 class="outstanding-title">Bem-Vindo</h2>
									</div>
									<p>A Universidade Federal do Piauí (UFPI), com o apoio do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq), da Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (CAPES) e da Fundação de Amparo à Pesquisa do Estado do Piauí (FAPEPI), criou o Banco de Germoplasma de Phaseolus (BGP - UFPI), no ano de 2003, com a finalidade de resgatar acessos domesticados (Phaseolus lunatus var. lunatus) e silvestres (Phaseolus lunatus var. silvester), conservar, documentar, caracterizar, avaliar e manter intercâmbio com outros países e regiões do Brasil. O germoplasma conservado, mediante coleta ou doação, é colocado à disposição da comunidade científica. Atualmente, o BGP - UFPI possui em seu acervo mais de 1300 acessos de feijão-fava, que foram coletados em diversas regiões do país e recebidos como doação de mais de 20 países.</p>
			    				</div>
			    				<div class="span4 module">
									<div class="outstanding-header">
										<h2 class="outstanding-title">Login do Usuário</h2>
									</div>
									<form>
										<div>
											<p>E-mail</p>
											<input type="text" required/>
										</div>
										
										<div>
											<p>E-mail</p>
											<input type="text" required/>
										</div>
										
										<button type="submit">Entrar</button>
									</form>
			    				</div>
							</div>
							<!-- fim .row-fluid -->
						
						{% endblock %}