{% extends 'base.html' %}

{% load staticfiles %}

						{% block content %}

							<div class="row-fluid module">							
    							
    							<section class="module-section">
	    							<div class="span12">
	    								<img src="{% static 'img/logo.png' %}" width="100%">
	    							</div>
	    							<!-- fim .span8 -->
    							</section>
							</div>
							<!-- fim .row-fluid -->
							<div class="row-fluid">
								<div class="span8 module">
									<div class="outstanding-header">
										<h2 class="outstanding-title">Bem-Vindo</h2>
									</div>
									<p>A Universidade Federal do Piauí, criou no ano de 1998 o Banco de Germoplasma de Hortaliças (BGH), com a finalidade de resgatar espécies nativas, preservar, 
									documentar e manter intercâmbio de germoplasma entre as diversas regiões do Brasil.</p>
									<p>Para tanto os recursos armazenados, mediante coleta ou doação são caracterizados, avaliados e colocados à  disposição da comunidade científica nacional.
									Atualmente o BGH - UFPI possuI em seu acervo mais de 7000 subamostras de hortaliças que foram coletados em diversas partes do país e também recebidos
									como doação de mais de 100 países.</p>
			    				</div>
			    				<div class="span4 module">
									<div class="outstanding-header">
										<h2 class="outstanding-title">Login do Usuário</h2>
									</div>
									<form>
										<div>
											<p>E-mail</p>
											<input type="text" required/>
										</div>
										
										<div>
											<p>E-mail</p>
											<input type="text" required/>
										</div>
										
										<button type="submit">Entrar</button>
									</form>
			    				</div>
							</div>
							<!-- fim .row-fluid -->
						
						{% endblock %}